.ad-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: fit-content;
    height: fit-content;
}

.checkbox{
    width: 5px;
}

input{
    margin: 10px;
    width: 300px;
}

input[name="isSold"]{
    width: 15px;
}

textarea{
    margin: 10px;
    width: 500px;
    min-height: 150px;
}

select{
    margin: 10px;
}

button{
    margin: 5px;
}

label{
    margin-left: 10px;
}

p{
    margin: 10px;
}
